.firstBox
    {
        padding: 10px;
        color: #fff;
        grid-column: 1;
        grid-row: 1 / 2;
        align-items: center;
        font-size: 20px;
        background-color:#494F56;
    }
    
    .secondBox 
    {
        color: #fff;
        grid-column: 2 / 4;
        grid-row: 1;
    }
          
    .thirdBox
    {
        color: #fff;
        grid-column: 2/3;
        grid-row: 2/3;
    }